.viewport {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding: 12px;
}

.card {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    min-width: 240px;
    height: auto;
    align-items: center;
    justify-content: start;
    gap: 16px;
    padding: 16px;
    border-radius: 32px;
    background-color: var(--card);
    border: 1px solid var(--card-border);
}

.header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: start;
    gap: 12px;
    padding: 12px 0;
}

.icon {
    display: flex;
    flex-direction: column;
    width: 80px;
    height: auto;
    align-items: center;
    justify-content: center;
    padding: 16px;
    border-radius: 24px;
    background-color: var(--surface);
}

.icon svg {
    width: 100%;
    height: 100%;
    stroke-width: 1;
    color: var(--icon);
}

.title {
    font-size: 1.25rem;
    font-weight: 500;
    color: var(--text);
    text-align: center;
    user-select: none;
}

.description {
    font-size: 1rem;
    font-weight: 400;
    color: var(--text-secondary);
    text-align: center;
    user-select: none;
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: start;
    gap: 12px;
    padding: 12px 0;
}
