.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: start;
    gap: 12px;
    padding: 12px 0;
}

.fieldset {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: start;
    justify-content: center;
    gap: 4px;
}

.field {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 48px;
    gap: 12px;
    padding: 12px;
    border-radius: 16px;
    background-color: var(--surface);
    border: 1px solid var(--surface-border);

    outline: none;
    color: var(--text-secondary);
    font-size: 1rem;

    transition: color 0.1s ease-in-out;

    &:has([data-focused]) {
        color: var(--text);
    }
    &:has([data-filled]) {
        color: var(--text);
    }
}

.label {
    font-size: 1rem;
    font-weight: 400;
    color: var(--text);
    text-align: center;
    user-select: none;
}

.icon {
    width: 24px;
    height: auto;
    stroke-width: 2;
}
