:root {
    --color-black: oklch(0 0 0);
    --color-white: oklch(1 0 0);

    --color-neutral-50: oklch(0.99 0 0);
    --color-neutral-100: oklch(0.97 0 0);
    --color-neutral-200: oklch(0.92 0 0);
    --color-neutral-300: oklch(0.87 0 0);
    --color-neutral-400: oklch(0.72 0 0);
    --color-neutral-500: oklch(0.56 0 0);
    --color-neutral-600: oklch(0.44 0 0);
    --color-neutral-700: oklch(0.37 0 0);
    --color-neutral-800: oklch(0.27 0 0);
    --color-neutral-900: oklch(0.2 0 0);
    --color-neutral-950: oklch(0.14 0 0);
}
