:root {
    --background: var(--color-neutral-950);
    --background-dots: var(--color-neutral-900);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    height: 100vh;
    background-color: var(--background);
    position: relative;
    overflow-x: hidden;
}

.root {
    isolation: isolate;
}

.background {
    width: 100%;
    height: 100%;
    background-color: var(--background);
    background-image: radial-gradient(
        circle at center,
        var(--background-dots) 2px,
        transparent 2px
    );
    background-size: 32px 32px;
}
