:root {
    --background: var(--color-neutral-950);
    --background-dots: var(--color-neutral-900);
    --card: var(--color-neutral-900);
    --card-border: var(--color-neutral-800);
    --surface: var(--color-neutral-800);
    --surface-border: var(--color-neutral-700);
    --text: var(--color-neutral-300);
    --text-secondary: var(--color-neutral-500);
    --icon: var(--color-neutral-300);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    height: 100vh;
    background-color: var(--background);
    position: relative;
    overflow-x: hidden;
}

input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    color: inherit;
    font-size: inherit;
}

.root {
    isolation: isolate;
}

.background {
    width: 100%;
    height: 100%;
    background-color: var(--background);
    background-image: radial-gradient(
        circle at center,
        var(--background-dots) 2px,
        transparent 2px
    );
    background-size: 32px 32px;
}
